html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  src: url("./fonts/OpenSans-Regular.ttf");
  font-family: OpenSansRegular;
}

@font-face {
  src: url("./fonts/OpenSans_Condensed-Regular.ttf");
  font-family: OpenSansNarrow;
}

body {
  font-family: OpenSansRegular, Verdana, Geneva, Tahoma, sans-serif;
}
